<section style="background-image: url('<%= asset_path('home/refresh_footer_smaller.jpg') %>');">
<h1>ONE MAXAR.</h1>
	<h1>ONE MISSION.</h1>
  
  <h2>INTEGRATED CAPABILITIES THAT</br>
	CONNECT EARTH AND SPACE</h2>

  <a id="learn_header" href="https://www.maxar.com/one-maxar?utm_source=one-maxar-lp&utm_medium=website&utm_campaign=one-maxar">Learn more</a>

</section>